

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #570303, #5E1B1B);
  color: #fff;
  margin: 0;
  overflow-y: auto;        
  overflow-x: hidden;      
  scroll-behavior: smooth;
  padding-top: 120px; 
}



section {
  padding-top: 120px;
  margin-top: 0;
  margin-bottom: 100px;
}


/* Header container */
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: linear-gradient(to right, #570303, #5E1B1B);
  color: #fff;
  position: fixed;       
  top: 0;                
  left: 0;
  width: 100%;           
  z-index: 1000;
  height: auto;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px; 
}


.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("/logo.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
}


.logo-section:hover .logo-img {
  background-image: url("/logoicon2.png");
}


.portfolio-labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  margin: 0; 
}

.portfolio-labels .normal {
  color: #ffb6c1;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}

.portfolio-labels .reverse {
  color: #b48aff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  transform: scaleX(-1);
}

.portfolio-labels .normal,
.portfolio-labels .reverse {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  background: linear-gradient(to right, #fff, #9747FF); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.portfolio-labels .reverse {
  transform: scaleX(-1);
  opacity: 0.8;
}


.nav-menu ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: #9747FF;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
}


.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 60px;
  width: 100%;
  padding-top : 0 120px;
  scroll-margin-top: 120px;
  scroll-margin-top: 120px;
}


.profile-image {
  width: 400px; 
  height: 400px;
  border-radius: 50%;
  background-image: url("/myicon.png");
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}


.name-heading {
  

  display: inline-block;
  padding: 8px 16px;
  background-color: #320303;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-bottom: 10px; /* Add spacing below */
  margin-top: 10px;     /* Add spacing above */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


.intro-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right;     
}

.intro-text h1 {
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
  font-family: 'JetBrains Mono', monospace;
}


.vertical-line {

  width: 3px;
  height: 400px; 
  background-color: #fff;
  opacity: 1;
}

.intro-wrapper {
  display: flex;
  align-items: stretch;
  gap: 30px;

}

.intro-text h2 {
  font-size: 0px;
  color: #fff;
  margin-bottom: 20px;
  font-family: 'JetBrains Mono', monospace;
}

.intro-text p {
  font-size: 16px;
  color: #DF8A92;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.cta-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}


.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.social-icons img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(255, 182, 193, 0.5);
}

.get-in-touch {
  padding: 10px 2cd0px;
  background: linear-gradient(to left, #6B4B7D, #C389E3);
  color:#ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 24px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  height: 20px;
  font-size: 15px;
}

.get-in-touch:hover {
  background: linear-gradient(to left, #350B4B, #C389E3);
  color: #000;
  font-weight: bold;
}

.step-world {

  padding: 12px 40px;
  background: linear-gradient(to right, #6F6792, #BDAEF8);
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.3s ease;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto; /* Let height adjust naturally */
  min-height: 45px; /* Ensures enough space for text */
  width: auto;

}

.step-world:hover {
  background: linear-gradient(to right, #241a4a, #BDAEF8);
  color: #000;
  font-weight: bold;
}


section {
  padding-top: 120px;
  margin-top: 0px;
  scroll-margin-top: 120px;

}

.about-nav {
  background: #500505; 
}

.about-text-wrapper {
  display: flex;
  gap: 0px;
  align-items: flex-start; 
}

.about-profile-icon {
  width: 480px;
  height: 550px;
  background-image: url("/aboutprofile.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 3px solid #fff; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); 
  
}

.about-hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #500505;
  min-height: 100vh;
  padding-top: 200px;
  padding-right: 40px;
  gap: 30px; 
  scroll-margin-top: 120px;
  margin-bottom: 0px;
}

.about-content {
  margin-left: auto; 
  text-align: right;
  font-family: 'JetBrains Mono', monospace;
  color: #fff;
  padding-right: 40px; 
}

.about-content h2 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 50px;
  margin-left: auto;
  text-align: right;

}

.vertical-line2 {
  width: 3px;
  background-color: #9747FF;
  border-radius: 5px;
  align-self: stretch;
  height: 250px;
  margin-top: 5px;
}


.about-desc {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 20px;
}


.quote {
  font-style: italic;
  font-size: 18px;
  color: #B7A7FF;
  margin: 20px 0 30px;
}

.see-background {
  display: inline-block;
  padding: 12px 30px;
  background: linear-gradient(90deg, #831B71 1.44%, #FF93FD 48.86%, #831B71 97.12%);
  color: #FFF3F3;
  text-decoration: none;
  border-radius: 15px;
  font-family: 'Azeret Mono', monospace;
  font-weight: 900;
  font-size: 15px;
  line-height: 10px;
  letter-spacing: 0.5px;
  text-align: center;
  transition: all 0.3s ease;
}

.see-background:hover {
  background: linear-gradient(90deg, #500A43 0%, #FF73FD 48.86%, #500A43 100%);
  color: #000000;
  transform: scale(1.03);
  opacity: 0.8;
}


.background-section {
  background-color: #500505;
  display: flex;
  justify-content: center;   
  align-items: flex-start;   
  height: calc(100vh - 100px);
  padding-top: 200px;        
  text-align: center;
  scroll-margin-top: 120px;
  margin-bottom: 0px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;      
  padding: 0px;         
}


.intro-text {
  position: relative;
  font-family: 'JetBrains Mono', monospace;
  font-size: 25px;
  color: #B7A7FF;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: -20px;
  animation: fadeInUp 1.2s ease-out forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 900px) {
  .cards-row {
    justify-content: center;
    gap: 40px;
  }

  .card-wrapper {
    width: 100%;
    max-width: 300px;
  }
}

.cards-row {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 45px;
  flex-wrap: wrap;
}

.card-wrapper {
  position: relative;
  width: 280px;
  height: 400px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card-wrapper:hover {
  transform: translateY(-10px) scale(1.03);
  filter: brightness(1.1);
}

.card-wrapper:hover .glow-frame {
  box-shadow: 0 0 20px #ffb3b3, 0 0 55px #E7BFB3;
  transition: box-shadow 0.4s ease;
}

.glow-frame {
  position: absolute;
  inset: 0;
  border: 2px solid #E7BFB3;
  border-radius: 25px;
  box-shadow: 0 0 20px #FFC2B0;
  pointer-events: none;
  z-index: 0;
}

.card {
  position: relative;
  width: 90%;
  height: 90%;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}


.card-wrapper:hover .card-inner {
  transform: rotateY(180deg);
}


.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  backface-visibility: hidden;
  background: linear-gradient(180deg, #E7BFB3 0%, #CA94D9 80%, #C389E3 100%);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  font-family: 'JetBrains Mono', monospace;
  box-sizing: border-box;
}

.card-back {
  transform: rotateY(180deg);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(65.89% 50% at 50% 50%, #E7BFB3 0%, #C389E3 100%);
}

.eye-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 28px;
}


.education-header {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.education-icon {
  width: 40px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.education-title {
  font-family: 'Azeret Mono', monospace;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  margin-top: 3px;
  text-transform: uppercase;
}


.skills-header {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.skills-icon {
  width: 40px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.skills-title {
  font-family: 'Azeret Mono', monospace;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  margin-top: 3px;
  text-transform: uppercase;
}


.interest-header {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.interest-icon {
  width: 40px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.interest-title {
  font-family: 'Azeret Mono', monospace;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  margin-top: 3px;
  text-transform: uppercase;
}


.schools-box {
  border: 1.5px solid #FFB3B3;
  border-color: #FFB3B3;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  width: 85%;
  padding: 15px;
}

.schools-box p {
  font-size: 0.95rem;
  font-weight: bold;
  line-height: 1.4;
  margin: 10px 0;
  font-family: 'Azeret Mono', monospace;
}


.card-back h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.card-back ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 1.8;
}


/* PROJECTS */

.projects-section {
  background: linear-gradient(180deg, #3A0000 0%, #140000 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  padding-top: 200px; 
  padding-bottom: 100px;
  scroll-margin-top: 120px;
  position: relative;
}




.projects-container {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  animation: fadeInUp 1.2s ease-out;
}

.small-title {
  color: #FF11A0;
  font-family: 'Azeret Mono', monospace;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
}

.main-title {
  background: linear-gradient(90deg, #E70F50 0%, #FF98B7 49.04%, #E70F50 99.52%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: 'JetBrains Mono', monospace;
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-line {
  width: 65%;
  height: 3px;
  margin: 40px auto;
  border-radius: 1px;
  background-color: #7F0D2C;
}

.projects-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 140px;
}

.project-card {
  position: relative;
  width: 300px;
  height: 340px;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0px 4px 15px #FFB3B3;
  animation: fadeInUpCard 1.2s ease-out forwards;
  opacity: 0;
}

.project-card:nth-child(1) { animation-delay: 0.3s; }
.project-card:nth-child(2) { animation-delay: 0.5s; }
.project-card:nth-child(3) { animation-delay: 0.7s; }


.project-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 10px #ffb6c1, 0 0 25px #ffb3b3;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.5s ease;
}

.project-card:hover .project-image {
  transform: scale(1.08);
}


@keyframes fadeInUpCard {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


/* SERVICES SECTION */
.services-section {
  background: radial-gradient(circle at center, #2b0000 0%, #140000 100%);
  color: white;
  font-family: 'Azeret Mono', monospace;
  text-align: center;
  min-height: 100vh;
  scroll-margin-top: 120px;
  padding-top: 150px;
}

.services-title {
  font-size: 56px;
  margin-bottom: 0px;
  margin-top: 10px;
  background: linear-gradient(90deg, 
    #0831FF 0%,     
    #670DDC 25%,    
    #FFB806 50%,    
    #FF11A0 60%,    
    #0831FF 80% 
);
  display: inline-block;
  background-size: 200% auto;  
  background-position: center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

 
  text-shadow: 0px 2px 8px rgba(255, 7, 7, 0.25);
}

.services-subtitle {
  font-size: 25px;
  color: #fff;
  margin-bottom: 70px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 100px 80px;
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}


.purple-glow { grid-column: 1; grid-row: 1; }
.pink-glow   { grid-column: 3; grid-row: 1; }
.service-character { grid-column: 2; grid-row: 1 / span 2; }
.yellow-glow { grid-column: 1; grid-row: 2; }
.blue-glow   { grid-column: 3; grid-row: 2; }

/* Character image */
.service-character {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-character img {
  width: 280px;
  animation: floaty 3s ease-in-out infinite;
  filter: drop-shadow(0px 4px 30px #680A0A)

}

.service-box {
  width: 350px;
  min-height: 180px;
  border-radius: 15px;
  border: 3px solid;
  text-align: center;
  padding: 30px 20px 20px;
  position: relative;
  background-color: rgba(255,255,255,0.03);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.service-box:hover {
  transform: scale(1.05);
}


.icon-wrapper {
  position: absolute;
  top: -75px; 
  left: 50%;
  transform: translateX(-50%);
}
.icon-img {
  width: 55px;
  height: 45px;
  
}

.service-box h3 {
  font-size: 25px;
  margin-top: -25px;
  margin-bottom: 0%;
}
.service-box p {
  font-size: 23px;
  line-height: 1.5;
  margin-top: 15px;
}


.purple-glow { border-color: #9D00FF; box-shadow: 0 0 15px #9D00FF; }
.pink-glow   { border-color: #FF1D8E; box-shadow: 0 0 15px #FF1D8E; }
.yellow-glow { border-color: #FFB800; box-shadow: 0 0 15px #FFB800; }
.blue-glow   { border-color: #004BFF; box-shadow: 0 0 15px #004BFF; }


@keyframes floaty {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}




/* CONTACTS */
:root {
  --icon-size: 45px;
}

.contacts-section {
  
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #3b0000 0%, #5e1b1b 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  text-align: left;
  padding-left: 100px;
  padding-right: 120px;
  padding-top: 200px;
  font-family: 'JetBrains Mono', monospace;
  scroll-margin-top: 120px;

}


.connect-title {
  font-family: 'Azeret Mono', monospace;
  font-weight: 900;
  font-size: 40px;
  line-height: 56px;
  background: linear-gradient(90deg, #670DDC 25%, #AFB9F5 45%, #A1F68C 100%);
  

  display: inline-block;
  background-size: 200% auto;  
  background-position: center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

}

.connect-subtitle {
  font-weight: 200;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 80px;
}

.socials-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 160px;
  display: left;
  margin-bottom: 60px;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon-container {
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;

}

.icon-container.instagram{
box-shadow: 0px 4px 15px #7408FF;
}

.icon-container.gmail{
box-shadow: 0px 4px 15px #3FD334;
}

.icon-container.linkedin{
filter: drop-shadow(0px 4px 15px #1814FF);
}

.icon-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* Instagram hover */
.icon-container.instagram::after {
  background-image: url("/ighovericon.jpeg"); /* your profile pic */
}

/* Gmail hover */
.icon-container.gmail::after {
  background-image: url("/gmailhoveredicon.jpeg"); /* your profile pic for Gmail */
}

/* LinkedIn hover */
.icon-container.linkedin::after {
  background-image: url("/aboutprofile.png"); /* your profile pic for LinkedIn */
}


.icon-container:hover::after {
  opacity: 1;
}

.icon-container:hover {
  transform: scale(1.1);
}


.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
}
.divider {
  width: 2px;
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
}

.social-text p {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.social-text span {
  font-size: 0.89rem;
  color: #ddd;
}


.contact-info {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.small-icon {
  width: 35px;
  height: 35px;
  
}

.info-item .divider {
  height: 30px;
}
